title: Geography AS Notes
production_url : http://geographyas.info
description: A collection of geography notes and revision aids for the AQA AS Geography course. 

author: Alex Jackson
twitter: alexjohnj
github: alexjohnj

permalink:   /:categories/:title/

safe:        false
port: 4000
baseurl:    /

source:      .
destination: ./_site
plugins:     ./_plugins

exclude: [sass]

future:      true
lsi:         false
pygments:    false
markdown:    rdiscount

category_dir: /
category_title_prefix: ""

rdiscount:
  extensions:
    - footnotes
    - smart
    - autolink
