#error-page-search {
  margin: 0 auto;

  width: 95%;

  #error-page-search-box {
    outline: none;

    border: 2px solid $site-bg-color;
    border-radius: 2px;
    padding: 5px;

    height: 120px;
    width: 100%;

    font-size: 3em;

    transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); // Linear
    -webkit-appearance: none;

    &:focus {
      border: 2px solid $bright-orange;
    }
  }
}
