// Use this file to style non-base elements of an article

#article-header {
  background-color: $article-bg-color;
  padding: 15px 0;

  width: 100%;
  height: auto;

  text-align: center;
  color: #ffffff;

  @media print {
    border-bottom: 1px solid #000000;
    background-color: #ffffff;
    padding-top: 0;

    color: #000000;
  }

  h1 {
    margin: 0.2em 0;

    font-size: 3em;
    font-weight: 300;

    @media handheld, only screen and (max-width: 560px) {
      font-size: 2em;
    }

    @media handheld, only screen and (max-width: 320px) {
      font-size: 1.7em;
    }
  }

  h2 {
    margin: 0;

    font-size: 1.3em;
    font-weight: 300;
    font-style: italic;
  }
}

.footnotes {
  @media print {
    border-top: 2px solid #000000;

    hr {
      display: none; // RDiscount inserts a <hr> automatically but some browsers remove it when printing. Some don't. This makes sure they all do.
    }
  }
}

#article-footer {
  background-color: $article-bg-color;
  padding: 10px 0;

  overflow: hidden;

  color: #ffffff;

  a {
    color: #ffffff;
  }

  @media print {
    display: none;
  }

  #article-footer-left {
    float: left;
    width: 50%;
  }

  #article-footer-right {
    float: right;
    width: 50%;
    text-align: right;
  }

  #article-contribution-text {
    clear: both;
    width: 100%;
  }
}
