// Use this file for styling base block elements as well as the <html> and <body> elements

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 $site-footer-height;

  line-height: 1.5;

  color: $very-dark-gray;

  font-family: $font-stack;
  font-size: 100%;
  font-weight: normal;
  text-rendering: optimizeLegibility;

  @media print {
    color: #000000;
    font-size: 87.5%;
  }
}

.content-margin-wrap {
  position: relative;

  margin: 0 auto;
  padding-bottom: 10px;

  width: 92%;
  max-width: 1140px;
}

::selection {
  background-color: #f2783c;
}

.crappy-browser-warning-box {
  margin: 20px 0;
  border-right: 15px solid #c0392b;
  border-left: 15px solid #c0392b;
  background-color: $soft-red;
  padding: 10px 20px;

  overflow: auto;

  font-size: 1.2em;

  p {
    margin: 0;
  }

  a {
    border-color: #6c52c9;
    color: #6c52c9;

    &:hover {
      border-color: #5237b1;
      color: #5237b1;
    }
  }
}

// Block Element Styles
img {
  display: block;
  margin: 0 auto;
  max-width: 100%;

  &.no-shadow {
    box-shadow: none;
  }
}

figcaption {
  margin: 10px auto;

  text-align: center;
  color: #443e3a;
  font-size: 0.875em;
  font-style: italic;

  @media print {
    color: #000000;
  }
}

dl {
  border-radius: 5px;
  background-color: $very-dark-gray-black;
  padding: 15px;

  color: #ffffff;

  &::before {
    font-size: 1.5em;
    font-weight: 300;
    content: "Definitions:";
  }

  dt {
    font-style: italic;

    &:first-child {
      padding-top: 10px;
    }
  }

  dd {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  a {
    color: #ffffff;
  }

  @media print {
    border: 2px solid #000000;
    background-color: #ffffff;
    color: #000000;

    a {
      color: #000000;
    }
  }
}

blockquote {
  margin: 1.5em 0.625em;
  border-left: 10px solid $very-dark-gray-black;
  background-color: $very-dark-gray;
  padding: 0.5em 0.625em;

  color: #ffffff;

  @media print {
    border-left: 2px solid #000000;
    background-color: #ffffff;
    color: #000000;
  }
}

hr {
  border: 0;
  background-color: $very-dark-gray-black;
  height: 2px;
}

table {
  margin: 0 auto;
  box-shadow: 0 0 5px $very-dark-gray-black;

  border-collapse: separate; // Needed to make the box-shadow property work with IE >= 9

  text-align: center;

  @media print {
    box-shadow: none;
    border: 1px solid lighten($very-dark-gray, 30%);
  }

  thead {
    box-shadow: 0 2px 2px lighten($very-dark-gray, 20%);
    background-color: $very-dark-gray-black;

    @media print {
      background-color: #ffffff;
      border-bottom: 1px solid lighten($very-dark-gray, 30%);
    }

    th {
      padding: 20px;

      color: #ffffff;

      font-size: 1.4em;
      font-weight: 300;

      @media print {
        color: #000000;

        font-weight: normal;
      }
    }
  }

  tbody {
    tr:nth-child(even) {
      background-color: #f2f2f2;
    }

    tr:nth-child(odd) {
      background-color: #ffffff;
    }

    td {
      border-right: 1px solid $bright-orange;
      padding: 10px;

      &:last-child {
        border-right: 0;
      }

      @media print {
        border-color: lighten($very-dark-gray, 30%);
      }
    }
  }
}
