// Use this file to style the colour scheme section of the site's contributing page

#colour-schemes-container {
  width: 100%;

  text-align: center;
}

.colour-container {
  display: inline-block;

  margin: 10px;

  text-align: center;

  p {
    margin: 10px 0;

    color: lighten($body-font-color, 5%);
  }
}

.colour-sample {
  margin: 0 auto;

  border-radius: 50%;

  width: 70px;
  height: 70px;

  &.earth {
    background-color: #855723;
  }

  &.rock {
    background-color: #493829;
  }

  &.grass {
    background-color: #668d3c;
  }

  &.deep-water {
    background-color: #092b5a;
  }

  &.shallow-water {
    background-color: #09738a;
  }

  &.sand {
    background-color: #c8a87a;
  }
}

