// Use this file to style the site's home page menu
// Don't use it to style the site's home page in general

section.unit-section {
  display: block;

  animation: fadeIn 250ms ease;
  -webkit-animation: fadeIn 250ms ease;
  -moz-animation: fadeIn 250ms ease;
  -ms-animation: fadeIn 250ms ease;
  -o-animation: fadeIn 250ms ease;
  
  li {
    padding: 5px 0;
  }
}

section.unit-section.disabled {
  display: none;
  
  animation: fadeOut 250ms ease;
  -webkit-animation: fadeOut 250ms ease;
  -moz-animation: fadeOut 250ms ease;
  -ms-animation: fadeOut 250ms ease;
  -o-animation: fadeOut 250ms ease;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-moz-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@-o-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1;}
  to { opacity: 0; }
}

@-webkit-keyframes fadeOut {
  from { opacity: 1;}
  to { opacity: 0; }
}

@-moz-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-o-keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}