// Use this file to style the site's home page menu
// Don't use it to style the site's home page in general

#menu-instructions {
  text-align: center;

  font-size: 1.3em;

  @media handheld, only screen and (max-width: 480px) {
    display: none;
  }
}

#mobile-menu-instructions {
  background-color: $dark-orange;
  padding: 1em 0;

  font-size: 1.2em;


  @media handheld, only screen and (min-width: 480px) {
    display: none;
  }

  p {
    margin: 0;
  }
}

.unit-section {
  display: block;

  animation: fadeIn 250ms ease;
  
  li {
    padding: 5px 0;
  }

  &.unit-section.disabled {
    display: none;
    
    animation: fadeOut 250ms ease;
  }

}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1;}
  to { opacity: 0; }
}
