// Use this file to style the site's footer

footer#site-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: $footer-height;
  width: 100%;

  background-color: $site-bg-color;
  color: white;

  a {
    color: #fff;
  }

  p {
    padding-top: 10px;
    margin: 0;
  }

  @media print {
    display: none;
  }
}