// Use this file to style any base typographic elements such as <h1> or <a> elements.
// If the element is a child of another section of the site, style it in that section's file rather than in here.

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  font-size-adjust: 0.5;
}

// The typographic scale used here is a slightly modified version of this:
// http://typecast.com/blog/a-more-modern-scale-for-web-typography

h1 {
  font-size: 2em;
  line-height: 1.5;

  @media (min-width: 43.75em) {
    font-size: 2.5em;
    line-height: 1.5;
  }

  @media (min-width: 56.25em) {
    font-size: 3em;
    line-height: 1.5;
  }
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615; // maths

  @media (min-width: 43.75em) {
    font-size: 2em;
    line-height: 1.25;
  }

  @media (min-width: 56.25em) {
    font-size: 2.25em;
    line-height: 1.25;
  }
}

h3 {
  font-size: 1.375em;
  line-height: 1.13636364;

  @media (min-width: 43.75em) {
    font-size: 1.5em;
    line-height: 1.25;
  }
  
  @media (min-width: 56.25em) {
    font-size: 1.75em;
    line-height: 1.25;
  }
}

h4 {
  font-size: 1.125em;
  line-height: 1.11111111;

  @media (min-width: 43.75em) {
    line-height: 1.22222222;
  }
}

a {
  color: #f38955;
  text-decoration: none;
  border-bottom: 2px solid #f38955;

  &:hover {
    border-color: #d05011;
    color: #d05011;
  }

  &::selection {
    color: white;
  }

  &::moz-selection {
    color:white;
  }

  @media print {
    color: #000000;
    border-color: #000000;

    &:after { 
      content:" [" attr(href) "] ";
    }

    &[name] {
      display: none; // Stops RDiscount's TOC links from showing up
    }

    // Styling for footnote links
    &[rel] {
      border-bottom: none; // Removes border on numbers
    }

    &[rev] {
      display: none; // Stops the ↵ symbol showing up
    }

    &[rel]:after, &[rev]:after {
      content: none; // Stops link content from showing after footnote
    }
  }
}

ol.topic-list {
  margin-left: 0.83em;
  li {
    font-size: 1.5em;
    font-weight: 300;
    margin: 0.83em 0;
  }
}
