// Use this file to style any base typographic elements such as <h1> or <a> elements.
// If the element is a child of another section of the site, style it in that section's file rather than in here.

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

// The typographic scale used here is a slightly modified version of this:
// http://typecast.com/blog/a-more-modern-scale-for-web-typography

h1 {
  line-height: 1.5;
  font-size: 2em;

  @media (min-width: 43.75em) {
    line-height: 1.5;
    font-size: 2.5em;
  }

  @media (min-width: 56.25em) {
    line-height: 1.5;
    font-size: 3em;
  }
}

h2 {
  line-height: 1.15384615; // maths
  font-size: 1.625em;

  @media (min-width: 43.75em) {
    line-height: 1.25;
    font-size: 2em;
  }

  @media (min-width: 56.25em) {
    line-height: 1.25;
    font-size: 2.25em;
  }
}

h3 {
  line-height: 1.13636364;
  font-size: 1.375em;

  @media (min-width: 43.75em) {
    line-height: 1.25;
    font-size: 1.5em;
  }

  @media (min-width: 56.25em) {
    line-height: 1.25;
    font-size: 1.75em;
  }
}

h4 {
  line-height: 1.11111111;
  font-size: 1.125em;

  @media (min-width: 43.75em) {
    line-height: 1.22222222;
  }
}

a {
  border-bottom: 2px solid $link-color;
  padding-bottom: 1px;

  text-decoration: none;
  color: $link-color;

  &:hover {
    border-color: $link-active-color;
    color: $link-active-color;
  }

  &::selection {
    color: #ffffff;
  }

  @media print {
    border-color: #000000;
    color: #000000;

    &:after {
      content: " [" attr(href) "] ";
    }

    &[name] {
      display: none; // Stops RDiscount's TOC links from showing up
    }

    // Styling for footnote links
    &[rel] {
      border-bottom: 0; // Removes border on numbers
    }

    &[rev] {
      display: none; // Stops the ↵ symbol showing up
    }

    &[rel]:after,
    &[rev]:after {
      content: none; // Stops link content from showing after footnote
    }
  }
}

// Disable borders on footnote links
sup > a {
  border: 0;
  margin-left: 0.125em;

  text-decoration: underline;
}

ol.topic-list {
  margin-left: 0.83em;

  li {
    margin: 0.83em 0;
    font-size: 1.5em;
    font-weight: 300;
  }
}
