<footer id="article-footer">
  {% for post in site.categories.[page.categories.first] %}
  {% if post.url == page.url %}
  {% assign post_index0 = forloop.index0 %}
  {% assign post_index1 = forloop.index %}
  {% endif %}
  {% endfor %}
  {% for post in site.categories.[page.categories.first] %}
  {% if post_index0 == forloop.index %}
  {% assign next_post = post %}
  {% endif %}
  {% if post_index1 == forloop.index0 %}
  {% assign prev_post = post %}
  {% endif %}
  {% endfor %}

  <div class="content-margin-wrap">
    <div id="article-footer-right">
      {% if next_post %}<p><a href="{{ site.baseurl }}{{ next_post.url }}">{{ next_post.title | xml_escape }} &raquo;</a></p>{% endif %}
    </div>
    <div id="article-footer-left">
      {% if prev_post %}<p><a href="{{ site.baseurl}}{{ prev_post.url }}">&laquo; {{ prev_post.title | xml_escape }}</a></p>{% endif %}
    </div>
  </div>
</footer>
