<!--[if lt IE 9]>
  <div class="crappy-browser-warning-box">
    <p>Hey, you're using a <strong>dangerously old</strong> browser. Although you'll be able to use this site, some things might not work or look quite right. Ideally, go and get a <a href="http://browsehappy.com/" target="_blank">newer, more modern browser</a>.</p>
  </div>
<![endif]-->

<noscript>
  <div class="crappy-browser-warning-box">
    <p>You seem to have disabled JavaScript. You should really enable it for this site but <i>most</i> things should work without it.</p>
  </div>
</noscript>