<head>
  <title>{{ page.title }}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="google-site-verification" content="_I9Hdwipe9pFPZoaTvzh0ZimUbBNXUyMmG4NeaOJTbY" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% if page.author %}
  <meta name="author" content="{{ page.author }}">
  {% else %}
  <meta name="author" content="{{ site.author }}">
  {% endif %}

  {% if page.description %}
  <meta name="description" content="{{ page.description }}">
  {% endif %}

  {% stylesheet main %}
  <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.production_url }}">

  <!--Load html5shiv for old IE versions. In my (limited) testing, this MUST be loaded before any other script-->
  <!--[if lt IE 9]>
    {% javascript vendor/html5shiv %}
  <![endif]-->

  <!--Google Analytics-->
  <script>{% asset ga.js %}</script>
  
  <noscript><style>section.unit-section.disabled{display:block;visibility: visible;animation: none;-webkit-animation:none;}#controls{display:none;}</style></noscript>
</head>
