<header id="site-header">
  <div class="content-margin-wrap">
    <h1><a href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
    <nav id="site-navigation">
      <ul>
        <li><a href="{{ site.baseurl }}/pages/about/">About</a></li>
        <li><a href="{{ site.baseurl }}/pages/contributing/">Contributing</a></li>
        <li><a href="{{ site.baseurl }}/pages/case-studies/">Case Studies</a></li>
      </ul>
      <form method="get" id="site-wide-search" action="https://duckduckgo.com">
        <input type="hidden" name="sites" value="geographyas.info">
        <input type="hidden" name="ka" value="h">
        <input type="hidden" name="kj" value="#333333">
        <input type="hidden" name="kx" value="#f2783c">
        <input type="hidden" name="k9" value="#f2783c">
        <input type="hidden" name="kaa" value="#f2783c">
        <input id="site-wide-search-box" type="search" name="q" maxlength="255" placeholder="Search">
      </form>
    </nav>
  </div>
</header>
