html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
}

// Default template styles

header#site-header {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-bottom: 10px;

  height: 120px;
  width: 100%;
  text-align: center;

  background-color: #333333;
  color: white;

  h1 {
    a, a:visited, a:hover {
      color: white;
      text-decoration: none;
    }
  }
}

nav#site-navigation {
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
  }
}

div#content {
  padding: 140px 0 10px 0;
}

footer#site-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;

  background-color: #333333;
  color: white;
}

// Home Page

section.unit-section {
  li {
    padding: 5px 0;
  }
}

// Article Styles

header#article-header {
  width: 100%;
  background-color: #262626;
  color: white;
  height: auto;
  text-align: center;

  padding: 5px 0 10px 0;
  margin: -20px 0 0 0;
}

.content-margin-wrap {
  width: 92%;
  max-width: 1140px;
  margin: 0 auto;
}

footer#article-footer {
  background-color: #262626;
  color: white;
  padding: 10px 0;
  margin: 0 0 -10px 0;
}

// Article content styles

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 5px #333333;

  &.no-shadow {
    box-shadow: none;
  }
}

figcaption {
  margin: 10px auto;

  color: #443e3a;
  font-size: 0.875em;
  text-align: center;
  font-style: italic;
}

dl {
  &::before {
    content: "Definitions:";
    font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 200;
    font-size: 1.5em;
  }

  background-color: #262626;
  color: white;
  padding: 15px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;

  dt {
    font-style: italic;
    &:first-child {
      padding-top: 10px;
    }
  }

  dd {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

blockquote {
  border-left: 10px solid #262626;
  background-color: #333333;
  color: white;
  margin: 1.5em 10px;
  padding: .5em 10px;
}

hr {
  height: 2px;
  background-color: #262626;
  border: none;
}
