html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 100px;
}

// Default template styles

header#site-header {
  position: absolute;
  top: 0;
  bottom: 0;
  padding-bottom: 10px;

  height: 100px;
  width: 100%;
  text-align: center;

  background-color: #333333;
  color: white;

  h1 {
    a, a:visited, a:hover {
      color: white;
      text-decoration: none;
    }
  }
}

nav#site-navigation {
  a, a:visited, a:hover {
    color: #f2783c;
    text-decoration: none;
  }

  li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
  }
}

div#content {
  padding: 90px 0 10px 0;
}

footer#site-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  padding-top: -20px;

  background-color: black;
}

// Article Styles

header#article-header {
  width: 100%;
  background-color: #262626;
  color: white;
  height: auto;
  text-align: center;

  padding: 5px 0 10px 0;
}

