@import "variables";

.page-title {
  border-bottom: 1px dashed black; 
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #626262;
  margin: 1em 0;
  padding: 0; 
}

html, body {
  height: 100%;
}

.wrap {
  min-height: 100%; 
}

.content {
  overflow: auto;
  padding-bottom: $page-footer-hover-height; 
}

.page-footer {
  opacity: $page-footer-opacity;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: -$page-footer-height;
  /* negative value of footer height */
  height: $page-footer-height;
  clear: both;
  background-color: $page-footer-colour;
  color: white;
  z-index: 0;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  p {
    margin-left: 1em;
    margin-right: 1em; 
  } 
}

.page-footer:hover {
  margin-top: -$page-footer-hover-height;
  height: $page-footer-hover-height;
  opacity: $page-footer-opacity-hover; 
}

.footer-left {
  position: absolute;
  left: 0; 
}

.footer-right {
  position: absolute;
  right: 0; 
}

.unit-div {
  cursor: pointer;
  text-align: center;
  width: 100%;
  height: $unit-div-height;
  overflow: hidden;
  border-radius: 5px;
  z-index: 0;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -o-transition: all .3s linear;
  -ms-transition: all .3s linear; 
}

.list-header, .page-header {
  text-align: center; 
}

.site-header {
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 1em;
  height: $site-header-height;
  background: $site-header-colour;
  background: -moz-linear-gradient(top, $site-header-colour, $site-header-gradient-highlight);
  background: -webkit-linear-gradient(top, $site-header-colour, $site-header-gradient-highlight);
  background: -o-linear-gradient(top, $site-header-colour, $site-header-gradient-highlight);
  background: -ms-linear-gradient(top, $site-header-colour, $site-header-gradient-highlight);
  background: linear-gradient(top, $site-header-colour, $site-header-gradient-highlight);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$site-header-colour', endColorstr='$site-header-gradient-highlight',GradientType=0);
  color: $site-header-font-colour;
  box-shadow: 0px 3px 5px rgb(183, 183, 183);
  display: block;
  vertical-align: baseline; 
}

#title-sub-div {
  padding-top: 0.9em;
  display: block;
  float: left; 
}

#about-link-sub-div {
  padding-top: 1.7em;
  display: block;
  float: right;
}

.warning-box {
  color: red;
  font-size: 1.29em; 
}

/* This is from Twitter Bootsrap http://twitter.github.com/bootstrap/#tables*/

table {
  width: 100%;
  margin-bottom: 18px;
  padding: 0;
  border-collapse: collapse; 
}

table th, table td {
  padding: 10px 10px 9px;
  line-height: 18px;
  text-align: left; 
}

table th {
  padding-top: 9px;
  font-weight: bold;
  vertical-align: middle; 
}

table td {
  vertical-align: top;
  border-top: 1px solid #ddd; 
}

table tbody th {
  border-top: 1px solid #ddd;
  vertical-align: top; 
}

.condensed-table th, .condensed-table td {
  padding: 5px 5px 4px; 
}

@media handheld, only screen and (max-width: 480px) {
  #about-link-sub-div {
    position: absolute;
    visibility: hidden; 
  }
  
  .page-footer {
    margin-top: -$page-footer-hover-height;
    height: $page-footer-hover-height;
    opacity: $page-footer-opacity-hover;
    position: relative;
    clear: both; 
  } 
}
