@import "variables";

body {
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5em;
  background-color: #f3f2ec;
  color: black;
  width: 100%;
  height: 100%; 
  
  &:before {
    content: "";
    height: 100%;
    float: left;
    width: 0;
    margin-top: -32767px; 
  }

  @media handheld, only screen and (max-width: 480px) {
    font-size: 13px;
    line-height: 1.3em;
  }
}

h1, h2, h3, h4{
  @media handheld, only screen and (max-width: 480px) {
    line-height: normal;
  } 
}

h1 {
  font-weight: inherit;
  font-size: 1.9em;
  margin-top: .2em; 
  small {
    font-size: 0.57em;
    font-style: italic;
  }
}

h2 {
  font-weight: inherit;
  font-size: 1.7em;
  margin-top: .5em;
  
  .unit-div & {
    font-size: 1.7em;
    text-transform: capitalize;
  } 
}

h3 {
  font-weight: inherit;
  font-size: 1.5em;
  margin-top: .5em; 
}

h4 {
  font-weight: inherit;
  font-weight: 700;
  font-size: 1.2em;
  margin: 0;
}

a {
  color: #992020;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s easie-in-out; 
  
  &:link, &:active {
    text-decoration: none;
  }
  
  &:hover {
    color: #db5454;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
  }
}

blockquote {
  border-left: 10px solid #8a6f53;
  quotes: \201C\201D\2018\2019;
  box-shadow: -2px -2px 5px gray;
  margin: 1.5em 10px;
  padding: .5em 10px;
}

.footnote {
  font-size: 0.71em; 
}

.site-header {
  a, a:hover {
    color: $site-header-font-colour;
    text-decoration: none; 
  }
}
