body {
	font-size: 16px;
	font-family: "Arvo", "Georgia", serif;
	font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Raleway", "Helvetica Neue", "Arial", sans-serif;
	font-weight: 200;
}

header#site-header {
	h1 {
		font-weight: 100;
	}
}

nav#site-navigation {
	font-family: "Raleway", "Helvetica Neue", "Arial", sans-serif;
	font-weight: 100;
}

header#article-header {
	h1 {
		font-size: 3em;
	}
}