/* Layout Variables */

$page-footer-colour: #170505;

$page-footer-height: 14px;
$page-footer-hover-height: 50px;
$page-footer-opacity: 0.5;
$page-footer-opacity-hover: 0.9;

$unit-div-height: 45px;

$site-header-height: 60px;
$site-header-colour: #3a2f23;
$site-header-gradient-highlight: #2c1c1c;
$site-header-font-colour: white;