/* Layout Variables */

$page-footer-colour: #170505;

$page-footer-height: 0.9em;
$page-footer-hover-height: 3.3em;
$page-footer-opacity: 0.5;
$page-footer-opacity-hover: 0.9;

$unit-div-height: 3em;

$site-header-height: 4em;
$site-header-colour: #3a2f23;
$site-header-gradient-highlight: #2c1c1c;
$site-header-font-colour: white;