html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0 0 110px;
}

// Default template styles

header#site-header {
  position: relative;
  width: 100%;
  overflow:hidden;

  background-color: #333333;
  color: white;

  @media handheld, only screen and (max-width: 800px) {
    text-align: center;
  }

  .content-margin-wrap {
    padding: 0;
  }

  h1 {
    display: block;
    float: left;
    @media print, handheld, only screen and (max-width: 800px) {
      float: none;
    }
    a, a:visited, a:hover {
      color: #fff;
      text-decoration: none;
      border: none;

      @media print {
        color: #000;
        &:after {
          content: none;
        }
      }
    }
  }

  @media print {
    background-color: #fff;
    text-align: center;
  }
}

nav#site-navigation {
  float: right;

  @media handheld, only screen and (max-width: 800px) {
    float: none;
  }

  ul {
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  
  li {
    display: inline-block;
    padding-right: 10px;
  }

  a {
    color: white;
  }

  @media print {
    display: none;
  }
}

form#site-wide-search {
  display: inline-block;
  padding-bottom: 10px;

  input#site-wide-search-box {
    -webkit-appearance: none;
    padding: 5px;
    border: 2px solid #262626;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    background-color: #262626;
    color: white;
    outline: none;

    -webkit-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -moz-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -o-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */

    &:focus {
      border: 2px solid #f2783c;
    }
  }
}

form#error-page-search {
  margin: 0 auto;
  width: 95%;
  
  input#error-page-search-box {
    height: 120px;
    width: 100%;

    font-size: 3em;

    -webkit-appearance: none;
    padding: 5px;
    border: 2px solid #262626;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    outline: none;

    -webkit-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -moz-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    -o-transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); 
    transition: all 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750); /* linear */

    &:focus {
      border: 2px solid #f2783c;
    }
  }
}

footer#site-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 110px;
  width: 100%;

  background-color: #333333;
  color: white;

  a {
    color: white;
  }

  p {
    padding-top: 10px;
    margin: 0;
  }

  @media print {
    display: none;
  }
}

// Home Page

section.unit-section {
  li {
    padding: 5px 0;
  }
}

// Article Styles

header#article-header {
  width: 100%;
  background-color: #262626;
  color: #fff;
  height: auto;
  text-align: center;

  padding: 15px 0;

  @media print {
    background-color: #fff;
    color: #000;
    border-bottom: 1px solid #000;
    padding-top: 0;
  }
}

.content-margin-wrap {
  width: 92%;
  max-width: 1140px;
  position: relative;
  margin: 0 auto;
  padding-bottom: 10px;
}

.footnotes {
  hr {
    display: none; // RDiscount inserts a <hr> automatically but some browsers remove it when printing. This ensures all browsers remove it and just print the equivalent border-top.
  }
  @media print {
    border-top: 2px solid #000;
  }
}

footer#article-footer {
  background-color: #262626;
  color: white;
  overflow: hidden;
  padding: 10px 0;

  a {
    color: white;
  }

  @media print {
    display: none;
  }
}

div#article-footer-left {
  width: 50%;
  float: left;
}

div#article-footer-right {
  width: 50%;
  float: right;
  text-align: right;
}

div#article-contribution-text {
  width: 100%;
  clear: both;
}

// Article content styles

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;

  &.no-shadow {
    box-shadow: none;
  }
}

figcaption {
  margin: 10px auto;

  color: #443e3a;
  font-size: 0.875em;
  text-align: center;
  font-style: italic;

  @media print {
    color: #000;
  }
}

dl {
  &::before {
    content: "Definitions:";
    font-weight: 200;
    font-size: 1.5em;
  }

  background-color: #262626;
  color: white;
  padding: 15px;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;

  a {
    color: white;
  }

  dt {
    font-style: italic;
    &:first-child {
      padding-top: 10px;
    }
  }

  dd {
    padding-bottom: 10px;

    &:last-child {
      padding-bottom: 0;
    }
  }

  @media print {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    a {
      color: #000;
    }
  }
}

blockquote {
  border-left: 10px solid #262626;
  background-color: #333333;
  color: white;
  margin: 1.5em 10px;
  padding: .5em 10px;

  @media print {
    background-color: #fff;
    color: #000;
    border-left: 2px solid #000;
  }
}

hr {
  height: 2px;
  background-color: #262626;
  border: none;
}

table {
  margin: 0 auto;
  text-align: center;

  thead {
    border-bottom: 1px solid #f2783c;
  }

  th {
    background-color: #262626;
    padding: 10px 10px;
  }

  tbody {
    background-color: #333333;
  }

  td {
    padding: 10px 10px;
    border-bottom: 1px solid #f2783c;
  }
}
