body {
  font-size: 100%;
  font-family: "Lato", "Helvetica Neue", "Arial", sans-serif;
  font-weight: normal;
  line-height: 1.5;
  color: #333333;
}

body, h1, h2, h3, h4, h5, h6 {
  font-size-adjust: 0.5;
}

::selection {
  background-color: #f2783c;
}

::-moz-selection {
  background-color: #f2783c;
}


h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h3 {
  text-transform: uppercase;
}

header#site-header {
  h1 {
    font-weight: 200;
    margin: 0.1em 0;
    @media handheld, only screen and (max-width: 320px) {
      font-size: 1.5em;
    }
  }
}

nav#site-navigation {
  font-weight: 200;
}

header#article-header {
  h1 {
    font-weight: 200;
    font-size: 3em;
    margin: 0.2em 0;

    @media handheld, only screen and (max-width: 560px) {
      font-size: 2em;
    }
    @media handheld, only screen and (max-width: 320px) {
      font-size: 1.7em;
    }
  }

  h2 {
    font-weight: 200;
    font-size: 1.3em;
    font-style: italic;
    margin: 0;
  }
}

a {
  color: #f38955;
  text-decoration: none;
  border-bottom: 2px solid #f38955;

  &:hover {
    border-color: #d05011;
    color: #d05011;
  }

  &::selection {
    color: white;
  }

  &::moz-selection {
    color:white;
  }
}

table {
  color: white;

  th {
    font-weight: 200;
    font-size: 1.4em;
  }

}

ol.topic-list {
  margin-left: 0.83em;
  li {
    font-size: 1.5em;
    font-weight: 200;
    margin: 0.83em 0;
  }
}
