<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" type="text/css" href="/style.css" />
	</head>
	<body>
	
	<div class="title">
	<h1><a href="/">{{ site.title }}</a></h1>
</div>
{{ content }}
<div class="backFwd">
	
	{% for post in site.categories.[page.categories.first] %}
	{% if post.url == page.url %}
	{% assign post_index0 = forloop.index0 %}
	{% assign post_index1 = forloop.index %}
	{% endif %}
	{% endfor %}
	{% for post in site.categories.[page.categories.first] %}
	{% if post_index0 == forloop.index %}
	{% assign next_post = post.url %}
	{% endif %}
	{% if post_index1 == forloop.index0 %}
	{% assign prev_post = post.url %}
	{% endif %}
	{% endfor %}
			<p>
				Navigation:&nbsp;{% if prev_post%}<a class="navButton" href="{{ prev_post }}">Previous</a>{% endif %} {% if next_post %} <a class="navButton" href="{{ next_post }}">Next</a>&nbsp;{% endif %}<a class="navButton" href="/">Home</a>
			</p>
		</div>
	</body>
</html>